* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
}

.conteine {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 600px;
    overflow-y: auto;
    width: 90%;
}

.conteine::-webkit-scrollbar {
    background: transparent;
}

.conteine::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.tabelaCadastro {
    border-collapse: collapse;
    width: 90%;
    position: relative;
}

.titulo {
    font: 5em sans-serif;
    margin-bottom: 10px;
}

.tabelaCadastro > thead tr > th{
    position: sticky;
    top: 0;
    background-color: #565656;
}

th, td {
    padding: 10px;
    border: 1px solid;
    border-color: black;
}

.atributos {
    color: aliceblue;
    background-color: #565656;
}

.corpo {
    text-align: center;
    background-color: aliceblue;
}
